.navbar {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 5rem;
  border-bottom: 1px solid var(--text);
  color: var(--text);
}
.navbar p:hover {
  color: var(--primary);
}
.navbarItems {
  display: flex;
  gap: 1rem;
}
.navbar p {
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text);
}

.navbarItems a:hover {
  color: var(--primary);
}

.navbarMobileItems {
  position: absolute;

  display: flex;
  flex-direction: column;
  left: 4px;
  right: 4px;
  top: 3rem;
  border-bottom: 1px solid var(--text);
  border-left: 1px solid var(--text);
  border-right: 1px solid var(--text);
  background-color: var(--bg);
  gap: 1rem;
  font-size: 28px;
  padding: 0.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .navbar p {
    font-size: 1.5rem;
  }
  .navbarItems {
    display: none;
  }
}
