.cardContainer {
  padding: 1rem;
  width: fit-content;
  background-color: var(--bg);
  border: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 1rem;
}

.cardContainer h4 {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-size: 26px;
}
.cardContainer img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.description {
  width: 300px;
  word-wrap: break-word;
  color: rgba(100, 100, 111, 1);
  margin-top: -0.8rem;
}
.cardContainer p {
  margin: 0;
  margin-top: -0.5rem;
}
.cardContainer button {
  background-color: var(--primary);
  height: 32px;
  width: auto;
  border: none;
  border-radius: 4px;
  color: #fff;

  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    width: 85%;
  }
  .cardContainer img {
    width: 95%;
    align-self: center;
    /* height: 200px; */
  }
}
